<% content_for :title, "Grades" %>
<h2>Grades</h2>

<% if notice %>
  <p class="notice"><%= notice %></p>
<% end %>

<table class="grades-table">
  <thead>
    <tr>
      <th>Student</th>
      <th>Course</th>
      <th>Grade (0-100)</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @grades.each do |grade| %>
    <tr>
      <td><%= grade.enrollment.student.name %></td>
      <td><%= grade.enrollment.course.title %></td>
      <td><%= grade.score %></td>
      <td>
        <%= link_to 'Edit', edit_grade_path(grade), class: 'btn' %>
        <%= link_to 'Delete', grade, method: :delete, data: { confirm: 'Are you sure?', turbo_method: :delete }, class: 'btn btn-danger' %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Grade', new_grade_path, class: 'btn' %>