<%# Set the page title %>
<% content_for :title, "Students" %>

<%# Main heading for the page %>
<h2>Students</h2>

<%# Display notice message if present %>
<% if notice %>
  <p class="notice"><%= notice %></p>
<% end %>

<%# Table to display students %>
<table class="students-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Email</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
    <%# Iterate through each student %>
    <% @students.each do |student| %>
      <tr>
        <%# Display student name %>
        <td><%= student.name %></td>
        <%# Display student age %>
        <td><%= student.age %></td>
        <%# Display student email %>
        <td><%= student.email %></td>
        <td>
          <%# Link to edit student %>
          <%= link_to 'Edit', edit_student_path(student), class: 'btn' %>
          <%# Link to delete student with confirmation %>
          <%= link_to 'Delete', student, method: :delete, data: { confirm: 'Are you sure?', turbo_method: :delete }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%# Add a line break %>
<br>

<%# Link to create a new student %>
<%= link_to 'New Student', new_student_path, class: 'btn' %>