<h1>Enrollments</h1>
<p style="color: green"><%= notice %></p>
<table>
    <thead>
        <tr>
            <th>Student</th>
            <th>Course</th>
            <th colspan="2">Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @enrollments.each do |enrollment| %>
            <tr>
                <td><%= enrollment.student.name %></td>
                <td><%= enrollment.course.title %></td>
                <td><%= link_to 'Edit', edit_enrollment_path(enrollment) %></td>
                <td><%= link_to 'Delete', enrollment, data: { turbo_method: :delete } %></td>
            </tr>
        <% end %>
    </tbody>
</table>
<br>
<%= link_to 'New Enrollment', new_enrollment_path %>
