<% content_for :title, "Enrollments" %>
<h2>Enrollments</h2>

<% if notice %>
  <p class="notice"><%= notice %></p>
<% end %>

<table class="enrollments-table">
  <thead>
    <tr>
      <th>Student</th>
      <th>Course</th>
      <th>Lecturer</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @enrollments.each do |enrollment| %>
      <tr>
        <td><%= enrollment.student.name %></td>
        <td><%= enrollment.course.title %></td>
        <td><%= enrollment.lecturer.name %></td>
        <td>
          <%= link_to 'Edit', edit_enrollment_path(enrollment), class: 'btn' %>
          <%= link_to 'Delete', enrollment, method: :delete, data: { confirm: 'Are you sure?', turbo_method: :delete }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Enrollment', new_enrollment_path, class: 'btn' %>