<%# Set the page title %>
<% content_for :title, "Lecturers" %>

<%# Main heading for the page %>
<h2>Lecturers</h2>

<%# Display notice message if present %>
<% if notice %>
  <p class="notice"><%= notice %></p>
<% end %>

<%# Table to display lecturers %>
<table class="lecturers-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
    <%# Iterate through each lecturer %>
    <% @lecturers.each do |lecturer| %>
      <tr>
        <%# Display lecturer name %>
        <td><%= lecturer.name %></td>
        <%# Display lecturer email %>
        <td><%= lecturer.email %></td>
        <td>
          <%# Link to edit lecturer %>
          <%= link_to 'Edit', edit_lecturer_path(lecturer), class: 'btn' %>
          <%# Link to delete lecturer with confirmation %>
          <%= link_to 'Delete', lecturer, method: :delete, data: { confirm: 'Are you sure?', turbo_method: :delete }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%# Link to create a new lecturer %>
<%= link_to "New Lecturer", new_lecturer_path, class: 'btn' %>