<% content_for :title, "Lecturers" %>
<h2>Lecturers</h2>

<% if notice %>
    <p class="notice"><%= notice %></p>
<% end %>

<table class="lecturers-table">
    <thead>
        <tr>
        <th>Name</th>
        <th>Email</th>
        <th colspan="2">Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @lecturers.each do |lecturer| %>
        <tr>
            <td><%= lecturer.name %></td>
            <td><%= lecturer.email %></td>
            <td>
            <%= link_to 'Edit', edit_lecturer_path(lecturer), class: 'btn' %>
            <%= link_to 'Delete', lecturer, method: :delete, data: { confirm: 'Are you sure?', turbo_method: :delete }, class: 'btn btn-danger' %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>

<%= link_to "New Lecturer", new_lecturer_path, class: 'btn' %>