<%= form_with(model: attendance) do |form| %>
  <% if attendance.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(attendance.errors.count, "error") %> prohibited this attendance from being saved:</h2>

      <ul>
        <% attendance.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :enrollment_id, "Enrollment", style: "display: block" %>
    <%= form.collection_select :enrollment_id, Enrollment.all, :id, :to_s, prompt: "Select Enrollment" %>
  </div>

  <div>
    <%= form.label :date, "Date", style: "display: block" %>
    <%= form.date_select :date, start_year: 2024, end_year: Date.today.year, order: [:day, :month, :year] %>
  </div>

  <div>
    <%= form.label :status, "Status", style: "display: block" %>
    <%= form.select :status, ["Present", "Absent"], prompt: "Select Status" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>