<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%# Dynamic title tag using content_for %>
    <title><%= yield :title %> - College Management System</title>
    <%# Rails security tags %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# Include application stylesheet %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%# Include JavaScript with importmap %>
    <%= javascript_importmap_tags %>
</head>
<body>
    <%# Header section %>
    <header>
        <div class="container">
            <h1>College Management System</h1>
        </div>
    </header>
    
    <%# Navigation menu %>
    <nav>
        <ul>
            <li><%= link_to 'Home', root_path %></li>
            <li><%= link_to 'Lecturers', lecturers_path %></li>
            <li><%= link_to 'Courses', courses_path %></li>
            <li><%= link_to 'Students', students_path %></li>
            <li><%= link_to 'Grades', grades_path %></li>
            <li><%= link_to 'Enrollments', enrollments_path %></li>
            <li><%= link_to 'Attendances', attendances_path %></li>
        </ul>
    </nav>
    
    <%# Main content wrapper %>
    <div class="wrapper">
        <div class="container">
            <div class="content">
                <%# Yield for page-specific content %>
                <%= yield %>
            </div>
        </div>
    </div>
    
    <%# Footer section %>
    <footer>
        <p>&copy; 2024 College Management System. All rights reserved.</p>
    </footer>
</body>
</html>